html {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Malgun Gothic", Arial, sans-serif;
  height: 100%;
}
body,
div,
h1,
h2,
h3,
p,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #e6f4ff;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.contanier .header {
  height: 65px;
}
.container .toolbar {
  height: 30px;
}
.container .content {
  display: flex;
  flex: 1;
}
.container .content .aside {
  flex: none;
  width: 200px;
}
.container .content .main {
  flex: 1;
}

.col {
  max-width: 100%;
}
.col.push-left {
  margin-left: auto;
}

.content-box {
  background-color: #fff;
  border: 1px solid #c5d3de;
  overflow: auto;
}

.pa-15 {
  padding: 15px;
}
.pa-10 {
  padding: 10px;
}
.pt-0 {
  padding-top: 0;
}

.ma-15 {
  margin: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 2px;
}

.btn {
  border: 0;
  border: 1px solid #999;
}
